<!DOCTYPE html>
<html>

<head>
  <title>Weather</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="main.css">

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>


<body class="container">

  <header>
    <%- include('navbar')%>
  </header>

  <h6 class="text-white text-center mt-5">Click location to get the weather</h6>
  
  <div id="map"></div>


  <script>
    const la = '<%= lat %>'
    const ln = '<%= lng %>'
    let weatherMap = L.map('map').setView([la, ln], 13); // Worcester, MA
    L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    }).addTo(weatherMap);

    weatherMap.on('click', function (e) {
      const { lat, lng } = e.latlng
      fetch('coord', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ lat, lng })
      }).then(() => window.location.href = '/')
    });

  </script>

  <div class="d-flex justify-content-center">
    <% if (periods.length> 0) { %>
      <%- include('table'), {periods, city, state} %>
        <% } %>
  </div>

  <div class="d-flex justify-content-center my-5">
    <div class="d-flex flex-column align-items-center">
      <img class="" id="main-image" src="weatherStation.jpg">
      <figcaption>Fig.1 - The Blue Hill Meteorological Observatory in Milton, Massachusetts.</figcaption>
      <button id="download-button" class="btn mt-3" download="">Download Image</button>
  
    </div>
   
    <script>
      const downloadButton = document.getElementById('download-button')
      downloadButton.addEventListener('click', () => {

        fetch('/download/<%= city %>/<%= state %>')
          .then(res => res.blob())
          .then(blob => {
            const url = window.URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'weatherStation.jpg'; // Specify the name of the downloaded file

            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);
            a.remove();
          })
      })
    </script>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>